.App {
  text-align: left;
}

.heading-inline {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.content {
  min-height: 70vh;
}

.bordered {
  border: 1px solid #eceaea;
}

.padded {
  padding: 10px;
}

.margined {
  margin: 10px 0;
}